---
import Layout from "@/layouts/Layout.astro"
---

<Layout title="404">
    <section class="flex items-center flex-col">
        <h1 class=" font-black text-9xl text-red-600">404</h1>
        <h2 class="text-center mb-8 font-black uppercase">Esta pagina no existe :v</h2>
        <img class=" max-w-96" src="/gif/404.gif" alt="">
    </section>
</Layout>