---
import Layout from "@/layouts/Layout.astro";
import PublicacionesAdmin from "@/components/PublicacionesAdmin";
import CarruselAdmin from "@/components/CarruselAdmin";
---

<Layout title="Administrador">
    <main>
        <section>
            <CarruselAdmin client:load/>
        </section>
        <hr class="border-none text-transparent bg-gradient-to-r from-[#003449] h-1 my-8 rounded-3xl"/>
        <section>
            <PublicacionesAdmin client:load/>
        </section>
    </main>
</Layout>