---
import FormCitas from "@/components/FormCitas.astro"
import EmailForm from "@/components/EmailForm"
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Policlínico La Trinidad | Contáctanos">
    <h1 class="my-8 font-black text-6xl text-center uppercase">Contáctanos</h1>
    <main class="flex flex-col lg:flex-row gap-4 mb-8">
        <section class="bg-[#003449] p-4 lg:w-[35%] flex flex-col sm:flex-row lg:flex-col gap-y-8 gap-x-4 rounded-l-lg">
            <div class="justify-center flex flex-col gap-3">
                <h3 class="font-extrabold text-2xl text-[#acf1bd] text-center">Horarios de atencio</h3>
                <table class=" text-[#d5eef1] mx-auto">
                    <tr>
                        <td class="pr-4">Lunes</td>
                        <td>8:00 am - 6:00 pm</td>
                    </tr>
                    <tr>
                        <td class="pr-4">Martes</td>
                        <td>8:00 am - 6:00 pm</td>
                    </tr>
                    <tr>
                        <td class="pr-4">Miercoloes</td>
                        <td>8:00 am - 6:00 pm</td>
                    </tr>
                    <tr>
                        <td class="pr-4">Jueves</td>
                        <td>8:00 am - 6:00 pm</td>
                    </tr>
                    <tr>
                        <td class="pr-4">Viernes</td>
                        <td>8:00 am - 6:00 pm</td>
                    </tr>
                    <tr>
                        <td class="pr-4">Sabado</td>
                        <td>8:00 am - 12 am</td>
                    </tr>
                </table>
            </div>
            <div class="flex-1">
                <h3 class="font-extrabold text-2xl text-[#acf1bd] text-center mb-4">Ubicanos</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2757.7636660113094!2d-76.94981591403894!3d-12.175856881966752!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105b91c7eaa4d59%3A0x2446918179d18056!2sPoliclinico%20LA%20TRINIDAD!5e0!3m2!1ses!2sus!4v1714710357696!5m2!1ses!2sus" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="h-[300px] w-full"></iframe>
            </div>
        </section>
        <section class="p-5 bg-[#acf1bd] text-[#003449] rounded-r-lg flex-1 flex flex-col justify-center">
            <EmailForm client:visible/>
        </section>
    </main>
</Layout>