---
import SimpleSlider from '@/components/SimpleSlider'
import Layout from '@/layouts/Layout.astro'
import { getPublicaciones } from '@/services/postService'
const { publicaciones } = await getPublicaciones()
---
<Layout title="Centro Medico | Policlinico La Trinidad">
    <main>
        <SimpleSlider client:load/>
        <section class="max-w-screen-lg mx-auto mt-16">
            <h2 class="uppercase font-extrabold text-4xl text-center mb-16 text-[#0b2935]">Últimas publicaciones</h2>
            {
                publicaciones.map((publi : {id:number; titulo:string; contenido:string; imagen:string}) => (
                    <article class="p-2 mb-4 rounded">
                        <h3 class="text-center uppercase text-xl font-semibold mb-2">{publi.titulo}</h3>
                        <p class="bg-[#003449] mb-4 rounded p-2 max-w-4xl mx-auto overflow-hidden">{publi.contenido}</p>
                        <img src={`http://localhost:8000/storage/${publi.imagen}`} alt={publi.imagen} class="h-auto mx-auto max-w-3xl"/>
                        <hr class="border-none text-transparent bg-[#003449] h-[2px] my-4 rounded-3xl -mx-10"/>
                    </article>
                ))
            }
        </section>
        <section class="grid grid-cols-1 min-[0px]:max-[639px]:grid-rows-2 sm:grid-cols-2 bg-mint-green w-full m-auto border-0 rounded-xl">
            <article class="flex flex-col sm:flex-row items-center m-auto min-w[321px]:h-full max-w[320px]:w-full">
                <div class="p-4 w-full min-[0px]:max-sm:h-fit items-center relative">
                    <h2 class="text-center font-extrabold m-4">Ubícanos</h2>
                    <p class="text-black">Av. La Unión 612 - Mz 35 - Lt. G.P.P.J.J.<br></p>
                    <p class="text-black">Inca Pachacutec - V.M.T - Lima - Lima</p>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2757.7636660113094!2d-76.94981591403894!3d-12.175856881966752!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105b91c7eaa4d59%3A0x2446918179d18056!2sPoliclinico%20LA%20TRINIDAD!5e0!3m2!1ses!2sus!4v1714710357696!5m2!1ses!2sus" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="p-4 relative aspect-square w-full sm:w-2/4 border-0"></iframe>
            </article>
            <article class="w-full grid grid-cols-1 bg-light-blue items-center justify-center sm:rounded-r-xl min-[0px]:max-[639px]:rounded-b-xl">
                <a class="bg-[#d5eef1] hover:bg-[#acf1bd] hover:scale-110 border border-solid rounded-2xl border-[#003449] font-bold mx-auto text-[#003449] text-center py-3 w-3/5 ease-in-out duration-300" href="">Resultados de Laboratorio</a>
                <a class="bg-[#d5eef1] hover:bg-[#acf1bd] hover:scale-110 border border-solid rounded-2xl border-[#003449] font-bold mx-auto text-[#003449] text-center py-3 w-3/5 ease-in-out duration-300" href="">Farmacia</a>
                <a class="bg-[#d5eef1] hover:bg-[#acf1bd] hover:scale-110 border border-solid rounded-2xl border-[#003449] font-bold mx-auto text-[#003449] text-center py-3 w-3/5 ease-in-out duration-300" href="">Contactanos</a>
            </article>
        </section>
    </main>
</Layout>