---
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Policlinico La Trinidad | Laboratorio">
    <section class="flex">
        <section class=" basis-1/2">
            <h1 class="text-center">Laboratorio</h1>
            <p>En el Centro Medico Parroquia La Trinidad contamos con un excelente equipo de profesionales, con una gran experiencia en Análisis Clínicos y Patológicos. Asumimos el compromiso con nuestros clientes para brindarles un servicio de calidad basado en la seguridad, rapidez y confidencialidad del diagnóstico.</p>
        </section>
        <section class="basis-1/2 bg-black">
            <img class="" src="/public/img/Notas/img01.png" alt="">
        </section>
    </section>
</Layout>