---
import Layout from "@/layouts/Layout.astro"
---
<Layout title="Policlinico La Trinidad | Nosotros">
    <header class="flex justify-center mb-8">
        <h1 class="w-fit font-black uppercase text-6xl md:text-8xl">Nosotros</h1>
    </header>
    <main class="mx-auto grid grid-cols-1 md:grid-cols-3 gap-4 max-w-6xl mb-5">
        <article class="hover:shadow-2xl">
            <img class="rounded-xl h-full w-full object-cover" src="/img/Nosotros/image01.png" alt="">
        </article>
        <article class="content-center w-full p-4 bg-[#003449] rounded-xl md:col-span-2">
            <h2 class="uppercase font-extrabold text-4xl text-center md:text-2xl md:text-left text-white">¿Quienes somos?</h2>
            <p class=" text-pretty leading-10">Somos un Centro Medico Parroquial con la misión de satisfacer las necesidades de salud de nuestra población de Villa María del Triunfo y distritos aledaños, ofreciéndoles servicios de atención primaria y comunitaria con calidad y eficiencia</p>
        </article>
        <article class="content-center w-full p-4 bg-[#003449] rounded-xl md:row-span-2">
            <h2 class="uppercase font-extrabold text-4xl text-center md:text-2xl text-white">Nuestra historia</h2>
            <p class="text-center text-pretty leading-10">Servicios de Salud con Especialidades Médicas. Servicios de apoyo al diagnostico como Laboratorio, Electrocardiograma, Ecografias. Terapias de Lenguaje, Aprendizaje, Física. Evaluaciones en Psicología. Programa de Diabéticos e Hipertensos. Tratamiento de pie diabetico, Ulceras vericosas. Odontología. Podología. Farmacia. Tenemos 26 años de experiencia al servicio del pueblo.</p>
        </article>
        <article class="row-span-2 col-span-1 md:col-span-2 hover:shadow-2xl ">
            <img class="rounded-xl h-full w-full object-cover" src="/img/Nosotros/image03.png" alt="">
        </article>
        <article class="hover:shadow-2xl">
            <img class=" h-full w-full rounded-xl object-cover" src="/img/Nosotros/image02.png" alt="">
        </article>
        <article class="content-center w-full p-4 bg-[#003449] rounded-xl">
            <h2 class="uppercase font-extrabold text-4xl text-center md:text-2xl text-white">Misión</h2>
            <p class="text-center text-pretty leading-10">Nuestra misión es la de satisfacer las necesidades de salud de nuestra población, ofreciendo servicios de atención primaria y comunitaria con un equipo calificado y guidos por los valores de calidad, compromizo y trabajo en equipo</p>
        </article>
        <article class="content-center w-full p-4 bg-[#003449] rounded-xl">
            <h2 class="uppercase font-extrabold text-4xl text-center md:text-2xl text-white">Visión</h2>
            <p class="text-pretty text-center leading-10">Queremos ser los referentes de salud de nuestra población, aportando calidad, confianza y seguridad en nuestros servicios de salud con un enfoque humanizado y comprometido con el bienestar de la población</p>
        </article>
    </main>
    <section class="mx-auto max-w-6xl flex flex-col md:flex-row bg-[#acf1bd] rounded-xl hover:shadow-2xl mb-4">
        <img src="/img/main-icon.webp" alt="" class="hidden md:block rounded-t-xl aspect-video md:aspect-square md:rounded-l-xl md:rounded-none">
        <p class="px-8 py-4 content-center leading-7 lg:leading-10 text-pretty text-[#003449]">Cuando Jesús confía a los apóstoles la misión de llevar el Evangelio de la salud-salvación hasta los confines del mundo, les manda curar a los enfermos como un signo inequívoco de la presencia del Reino de Dios. Jesús reunió a los Doce y les dio autoridad para expulsar a todos los malos espíritus y poder para curar enfermedades. Después los envió a anunciar el Reino de Dios y a curar (Lc 9, 1-2).</p>
    </section>
</Layout>