---
import Layout from "@/layouts/Layout.astro"
---

<Layout title="xd">
    <div class="cont">
        <div class="caj">
            <img src="/public/img/Notas/img01.png" alt="">
        </div>
        <div class="caj">
            <img src="/public/img/Notas/img02.png" alt="">
        </div>
        <div class="caj">
            <img src="/public/img/Notas/img03.png" alt="">
        </div>
        <div class="caj">
            <img src="/public/img/Notas/img04.png" alt="">
        </div>
        <div class="caj">
            <img src="/public/img/Notas/img05.png" alt="">
        </div>
        <div class="caj">
            <img src="/public/img/Notas/img06.png" alt="">
        </div>
        <div class="caj">
            <img src="/public/img/Notas/img07.png" alt="">
        </div>
    </div>
</Layout>

<style>
    .cont{
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 250px;
        grid-gap: 20px;
    }

    .caj img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: .3rem .3rem .3rem rgb(70, 50, 20);
    }

    .caj:nth-child(7){
        grid-column: span 2;
    }
</style>