---
import Layout from "../layouts/Layout.astro"
import BotonServicios from "../components/BotonServicios.astro"
---

<Layout title="xd">
    <header class="flex justify-center mb-8">
        <h1 class=" text-[#413423] w-fit font-black uppercase text-3xl md:text-5xl lg:text-6xl">Servicios Generales</h1>
    </header>
    <section class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 text-white max-w-3xl lg:max-w-4xl mx-auto mb-10">
            <BotonServicios 
                href="cardiologia"
                alt=""
            />
            <BotonServicios 
                href="farmacia"
                alt=""
            />
            <BotonServicios 
                href="gastroenterologia"
                alt=""
            />
            <BotonServicios 
                href="ginecologia"
                alt=""
            />
            <BotonServicios 
                href="laboratorio"
                alt=""
            />
            <BotonServicios 
                href="medicina familiar"
                alt=""
            />
            <BotonServicios 
                href="medicina-general"
                alt=""
            />
            <BotonServicios 
                href="medicina-interna"
                alt=""
            />
            <BotonServicios 
                href="odontologia"
                alt=""
            />
            <BotonServicios 
                href="oftalmologia"
                alt=""
            />
            <BotonServicios 
                href="pediatria"
                alt=""
            />
            <BotonServicios 
                href="topico"
                alt=""
            />
    </section>
</Layout>