---
import CardServicios from "@/components/CardServicios.astro"
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Servicios de Apoyo">
    <aside class="absolute w-52 h-full hidden lg:block">
        <h2 class="font-bold uppercase bg-[#003449] rounded-l-lg py-4 text-center mb-3 text-white">Contenido</h2>
        <nav>
            <ul class="flex flex-col">
                <!-- <li><a class="block w-full px-3 py-4 hover:bg-[#003449] hover:text-[#d5eef1] rounded-l-xl" href="#admision">Admision</a></li> -->
                <li><a class="block w-full px-3 py-4 hover:bg-[#003449] hover:text-[#d5eef1] rounded-l-xl" href="#recepcion">Recepcion</a></li>
                <li><a class="block w-full px-3 py-4 hover:bg-[#003449] hover:text-[#d5eef1] rounded-l-xl" href="#laboratorio">Laboratorio</a></li>
                <li><a class="block w-full px-3 py-4 hover:bg-[#003449] hover:text-[#d5eef1] rounded-l-xl" href="#ecografia">Ecografia</a></li>
                <li><a class="block w-full px-3 py-4 hover:bg-[#003449] hover:text-[#d5eef1] rounded-l-xl" href="#farmacia">Farmacia</a></li>
                <li><a class="block w-full px-3 py-4 hover:bg-[#003449] hover:text-[#d5eef1] rounded-l-xl" href="#RX Dental">RX Dental</a></li>
                <li><a class="block w-full px-3 py-4 hover:bg-[#003449] hover:text-[#d5eef1] rounded-l-xl" href="#topico">Topico</a></li>
                <li><a class="block w-full px-3 py-4 hover:bg-[#003449] hover:text-[#d5eef1] rounded-l-xl" href="#triaje">Triaje</a></li>
            </ul>
        </nav>
    </aside>
    <main class="relative lg:ml-52 mt-16 h-full xl:h-screen overflow-auto bg-[#003449] rounded-b-lg rounded-tr-lg border-[#003449] border-[2rem] flex flex-col gap-10 mb-10">
        <h1 class="uppercase font-black text-[#d5eef1] text-2xl text-center">Servicos de Apoyo</h1>
        <!-- <CardServicios p="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem voluptas placeat corrupti, odit delectus omnis recusandae iste odio ex quod." servicio="Admision" src="/DE-APOYO/"/> -->
        <CardServicios p="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem voluptas placeat corrupti, odit delectus omnis recusandae iste odio ex quod." servicio="recepcion" src="/DE-APOYO/recepcion.jpeg" variant/>
        <CardServicios p="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem voluptas placeat corrupti, odit delectus omnis recusandae iste odio ex quod." servicio="laboratorio" src="/DE-APOYO/laboratorio.jpg" boton/>
        <CardServicios p="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem voluptas placeat corrupti, odit delectus omnis recusandae iste odio ex quod." servicio="farmacia" src="/DE-APOYO/farmacia.jpg" boton variant/>
        <CardServicios p="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem voluptas placeat corrupti, odit delectus omnis recusandae iste odio ex quod." servicio="ecografia" src="/DE-APOYO/ecografia.webp"/>
        <CardServicios p="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem voluptas placeat corrupti, odit delectus omnis recusandae iste odio ex quod." servicio="RX Dental" src="/DE-APOYO/rx-dental.jpg" variant/>
        <CardServicios p="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem voluptas placeat corrupti, odit delectus omnis recusandae iste odio ex quod." servicio="topico" src="/DE-APOYO/topico.jpg"/>
        <CardServicios p="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem voluptas placeat corrupti, odit delectus omnis recusandae iste odio ex quod." servicio="triaje" src="/DE-APOYO/triaje.jpg" variant/>
    </main>
</Layout>