---
interface Props {
  href: string;
  text: string;
}
const { href, text } = Astro.props;
---

<li>
  <a
    href={href}
    class="block hover:scale-110 ease-in-out duration-300 text-xl hover:text-[#acf1bd] py-2 px-5 rounded-xl hover:bg-[#003449]"
  >
    {text}
  </a>
</li>
