---
interface Props {
  img: string;
  href: string;
}
const { img, href } = Astro.props;
---

<a href={href}>
  <img
    loading="lazy"
    src=`/img/icons/${img}.svg`
    alt=""
    class="hover:scale-110 hover:animate-ease-in-out duration-200 aspect-square w-10"
  />
</a>
