---
interface Props {
    id: number
    Nombre: string
    Descripcion: string
}
const {id,Nombre,Descripcion}=Astro.props
---
<a
    href={`/publicaciones/${id}`}
    class="rounded-lg border shadow-md bg-gray-800 border-gray-700 hover:scale-105 hover:bg-gray-700 hover:border-gray-500 transition flex flex-col"
>
    <h3>{Nombre}</h3>
    <p>{Descripcion}</p>
</a>