---
import AnchorIcon from "./AnchorIcon.astro";
import AnchorSimple from "./AnchorSimple.astro";
import EmailForm from "./EmailForm";
import Modal from "./Modal.astro";
---

<footer class="bg-[url(/public/img/backgrounds/bg-footer.svg)] bg-no-repeat bg-cover pt-36 -mt-12 text-center text-white pb-8 px-8">
    <main class="flex flex-col md:flex-row justify-between items-center text-left px-10 lg:px-18">
        <section class="flex flex-col lg:flex-row gap-1 lg:gap-5 items-center mb-5 md:mb-0">
            <img src="/public/img/main-icon.webp" alt="" class="aspect-square lg:w-32 rounded-full w-24"/>
            <section class="md:hidden lg:flex gap-2 flex flex-col md:flex-row">
                <article class="flex lg:flex-col flex-row gap-1">
                    <AnchorIcon href="" img="/footer/facebook" />
                    <AnchorIcon href="" img="/footer/instagram" />
                </article>
                <article class="flex lg:flex-col flex-row gap-1">
                    <AnchorIcon href="" img="/footer/mail" />
                    <AnchorIcon href="" img="/footer/whatsapp" />
                </article>
            </section>
        </section>
        <ul class="leading-loose text-sm lg:text-base lg:text-left text-center">
            <AnchorSimple text="Servicios" href="/servicios" />
            <AnchorSimple text="Ubicanos" href="/" />
            <AnchorSimple text="Contactanos" href="/contactanos" />
        </ul>
        <ul class="leading-loose text-sm lg:text-base lg:text-left text-center">
            <AnchorSimple text="Preguntas frecuentes" href="./" />
            <AnchorSimple text="Terminos y condiciones" href="./" />
            <AnchorSimple text="Trabaja con nosotros" href="./" />
        </ul>
        <Modal textButton="¡Pida su cita ahora!">
            <EmailForm client:load/>
        </Modal>
    </main>
    <hr class="border-none bg-white h-1 my-8 rounded-3xl" />
    <p>Copyright © 2024 - Policlino La Trinidad</p>
</footer>