





<footer class="bg-[url(/public/img/Footer/bg-footer.svg)] bg-cover bg-no-repeat pt-44 px-24 pb-8 text-center -m-16">
    <main class="flex flex-row justify-between items-center text-left mx-12">
        <section class="flex flex-row gap-5 items-center">
            <img src="/public/img/Header/main-icon.webp" alt="" class=" aspect-square w-32 rounded-full">
            <aside>
                <img src="/public/img/Footer/facebook.svg" alt="">
                <img src="/public/img/Footer/mail.svg" alt="">
            </aside>
        </section>
        <ul>
            <li><a class="hover:text-[#fff8f2]" href="">Servicios</a></li>
            <li><a class="hover:text-[#fff8f2]" href="">Ubicanos</a></li>
            <li><a class="hover:text-[#fff8f2]" href="">Contactanos</a></li>
        </ul>
        <ul>
            <li><a class="hover:text-[#fff8f2]" href="">Preguntas frecuentes</a></li>
            <li><a class="hover:text-[#fff8f2]" href="">Terminos y condiciones</a></li>
            <li><a class="hover:text-[#fff8f2]" href="">Trabaja con nosotros</a></li>
        </ul>
        <a href="" class="block bg-[#fff8f2] p-4 rounded-2xl hover:scale-110 ease-in-out duration-300 hover:text-orange-500">¡Pida su cita ahora!</a>
    </main>
    <hr class="border-none bg-[#fff8f2] h-1 my-8 rounded-3xl">
    <span>Copyright © 2024 - Policlino La Trinidad. Todos los derechos reservados.</span>
</footer>