---
import Anchor from "./Anchor.astro";
import EmailForm from "./EmailForm";
import Modal from "./Modal.astro";
---

<header
  class="rounded-3xl bg-[#d5eef1] justify-between py-4 px-12 mt-10 mb-4 mx-20 hidden lg:flex shadow-md"
>
	<section class="flex gap-10">
		<article class="flex gap-2">
			<img src="/img/icons/whatsapp.svg" alt="" class="aspect-square w-12">
			<span>Whatsapp<br />991 351 239</span>
		</article>
		<article class="flex gap-2">
			<img src="/img/icons/phone.svg" alt="" class="aspect-square w-12">
			<span>Central telefonica<br />281-0594</span>
		</article>
	</section>
	<section class="flex gap-4 items-center">
		<a href="https://www.facebook.com/Centromedicoparroquial/" class="hover:-translate-y-1 transition ease-in-out duration-300">
			<img src="/img/icons/facebook.svg" alt="" class="aspect-square w-12">
		</a>
		<a href="" class="hover:-translate-y-1 transition ease-in-out duration-300">
			<img src="/img/icons/instagram.svg" alt="" class="aspect-square w-11">
		</a>
		<a href="" class="hover:-translate-y-1 transition ease-in-out duration-300">
			<img src="/img/icons/mail.svg" alt="" class="aspect-square w-12">
		</a>
    <Modal textButton="¡Pida su cita ahora!">
      <EmailForm client:visible/>
    </Modal>
	</section>
</header>
<nav class="sticky top-[-1px] pt-[calc(1em + 1px)] px-10 flex justify-between items-center z-50 py-2 rounded-b-[20px] bg-white transition-all" id="hdr">
	<a href="/" class="flex items-center gap-4">
		<img src="/img/main-icon.webp" alt="" class="rounded-full aspect-square w-14 lg:w-20 mx-auto"/>
		<span class="text-xl font-semibold uppercase hidden lg:inline">Centro medico<br/>La Trinidad</span>
	</a>
	<button id="menu" class="block md:hidden rounded-lg active:bg-[#d5eef1] bg-[#acf1bd]">
		<img id="icon_menu" src="/img/icons/menu.svg" alt="" class="w-10">
	</button>
	<ul class="gap-4 items-center text-center hidden md:flex text-xs lg:text-base">
		<Anchor text="Inicio" href="/" />
		<Anchor text="Servicios" href="/servicios" />
		<Anchor text="Nosotros" href="/nosotros" />
		<Anchor text="Contactanos" href="/contactanos" />
	</ul>
</nav>
<ul id="bar" class="fixed top-[4.5rem] ml-2 z-50 bg-[#d5eef1]  rounded-[20px] right-0 hidden gap-y-4 p-4 text-center sm:w-[40%] w-full">
  <Anchor text="Inicio" href="/" />
  <Anchor text="Servicios" href="/servicios" />
  <Anchor text="Nosotros" href="/nosotros" />
  <Anchor text="Contactanos" href="/contactanos" />
</ul>
<script>
  document.addEventListener('astro:page-load', () => {
  const head = document.getElementById('hdr') as HTMLElement
  const observer = new IntersectionObserver(
    ([e]) => e.target.classList.toggle('isSticky', e.intersectionRatio < 1),
    { threshold: [1] }
  );
  observer.observe(head)
  const menu = document.getElementById('menu') as HTMLButtonElement
  const icon_menu = document.getElementById('icon_menu') as HTMLImageElement
  const bar = document.getElementById('bar') as HTMLUListElement
  let menuOpen = false
  menu.addEventListener('click',()=>{
    menuOpen = !menuOpen
    if (menuOpen) {
      icon_menu.src = '/img/icons/close.svg';
      bar.classList.add('active')
    } else {
      icon_menu.src = '/img/icons/menu.svg';
      bar.classList.remove('active')
    }
  })
  window.addEventListener('resize', () => {
    if (window.innerWidth >= 768) {
      icon_menu.src = '/img/icons/menu.svg';
      bar.classList.remove('active');
      menuOpen = false;
    }
  });
});
</script>
<style>
  #hdr.isSticky{
    box-shadow: 0 10px 10px #0000001a;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  #hdr.isSticky span{
    display: none;
  }
  #bar.active{
    display: flex;
    flex-direction: column;
  }
</style>