---

---
<input type="checkbox" id="sidebar" class="hidden">
<label for="sidebar" class="open fixed hover:bg-white hover:bg-opacity-10 p-2 rounded-md right-8 md:right-12 top-8 z-30 lg:hidden">
    <img src="/public/img/menu.svg" alt="">
</label>
<label for="sidebar" class="close fixed hover:bg-white hover:bg-opacity-10 p-2 rounded-md right-8 md:right-12 top-8 z-30 hidden">
    <img src="/public/img/close.svg" alt="">
</label>
<nav class="lateral fixed right-0 top-28 z-20 w-full md:w-64 bg-orange-950 bg-opacity-10 backdrop-blur-sm shadow-md rounded-2xl hidden">
    <ul class="flex flex-col gap-6 m-6 text-center">
        <li><a class="block text-xl md:text-2xl hover:text-orange-400 py-2 rounded-xl hover:bg-opacity-10 hover:bg-white" href="./">Inicio</a></li>
        <li><a class="block text-xl md:text-2xl hover:text-orange-400 py-2 rounded-xl hover:bg-opacity-10 hover:bg-white" href="./servicios">Servicios</a></li>
        <li><a class="block text-xl md:text-2xl hover:text-orange-400 py-2 rounded-xl hover:bg-opacity-10 hover:bg-white" href="./nosotros">Nosotros</a></li>
        <li><a class="block text-xl md:text-2xl hover:text-orange-400 py-2 rounded-xl hover:bg-opacity-10 hover:bg-white" href="./notas-de-prensa">Contactanos</a></li>
    </ul>
</nav>
<header class="fixed flex w-full justify-between z-10 top-0 px-8 md:px-12 py-3 items-center bg-orange-950 bg-opacity-10 backdrop-blur-sm shadow-md">
    <a href="./" class="flex items-center">
        <img
        transition:persist
        src="/public/img/icons/main-icon.webp"
        alt=""
        class="rounded-full aspect-square h-20"
        >
        <span class="ml-4 text-xl font-semibold">Centro medico<br>La Trinidad</span>
    </a>
    <nav class="hidden lg:block">
        <ul class="flex gap-12">
            <li class="text-lg hover:text-orange-400 px-2 py-1 rounded-xl hover:bg-opacity-10 hover:bg-white"><a href="./">Inicio</a></li>
            <li class="text-lg hover:text-orange-400 px-2 py-1 rounded-xl hover:bg-opacity-10 hover:bg-white"><a href="./servicios">Servicios</a></li>
            <!-- <li class="text-lg hover:text-orange-400 px-2 py-1 rounded-xl hover:bg-opacity-10 hover:bg-white"><a href="./">Notas</a></li> -->
            <li class="text-lg hover:text-orange-400 px-2 py-1 rounded-xl hover:bg-opacity-10 hover:bg-white"><a href="./nosotros">Nosotros</a></li>
            <li class="text-lg hover:text-orange-400 px-2 py-1 rounded-xl hover:bg-opacity-10 hover:bg-white"><a href="./notas-de-prensa">Contactanos</a></li>
        </ul>
    </nav>
</header>
<style>
    #sidebar:checked ~ .lateral{
        display: block;
    }
    #sidebar:checked ~ .open{
        display: none;
    }
    #sidebar:checked ~ .close{
        display: block;
    }
</style>