---
import FormCitas from "./FormCitas.astro";
---
<button class="openModal mt-5 md:mt-0 lg:p-4 p-3 rounded-2xl hover:scale-105 lg:hover:scale-110 ease-in-out duration-300 text-[#003449] text-sm lg:text-base bg-[#d5eef1] hover:bg-[#acf1bd] active:bg-[#d5eef1]">
    ¡Pida su cita ahora!
</button>

<dialog class="modal bg-white p-5 rounded-lg max-w-96 md:max-w-screen-sm backdrop:backdrop-blur-sm">
    <p class="mb-6 text-[#003449] font-semibold">Llámenos al 281-0594 o complete el siguiente formulario y uno de nuestros empleados se comunicará con usted para confirmar una cita</p>
    <FormCitas/>
</dialog>

<script>
document.addEventListener('astro:page-load', () => {
    const openModals = document.querySelectorAll('.openModal');
    const modals = document.querySelectorAll('.modal');
    const closeModals = document.querySelectorAll('.closeModal');

    openModals.forEach((openModal, index) => {
        const modal = modals[index] as HTMLDialogElement;
        const closeModal = closeModals[index];

        openModal.addEventListener('click', () => {
            modal.showModal();
        });

        closeModal.addEventListener('click', () => {
            modal.close();
        });

        modal.addEventListener('click', (event) => {
            if (event.target === modal) {
                modal.close();
            }
        });
    });
});
</script>
