---
import CiteCard from "@/components/CiteCard.astro"
import Layout from "@/layouts/Layout.astro"
---

<Layout title="">
    <h1 class="lg:text-7xl text-4xl font-black text-center mb-4 mt-8">Endocrinologia</h1>
    <section class="mt-8 flex flex-col gap-8 justify-center mb-5">
        <picture>
            <img src="/public/img/Servicios/endocrinologia/img01.png" class="mx-auto max-h-96" alt="">
        </picture>
        <section class="flex flex-col gap-4 mb-8 justify-center mx-auto">
            <p class="bg-[#003449] p-4 rounded-lg max-w-screen-sm">La endocrinología es una rama de la medicina que se especializa en el estudio y tratamiento de las glándulas endocrinas, las hormonas que producen y los trastornos relacionados con ellas. Las glándulas endocrinas son órganos que secretan hormonas directamente en el torrente sanguíneo para regular diversas funciones en el cuerpo, como el metabolismo, el crecimiento, la reproducción, el estado de ánimo y el sueño, entre otras.</p>
        </section>
    </section>
    <hr class="border-none text-transparent bg-gradient-to-r from-[#003449] h-1 mb-8 rounded-3xl"/>
    <main class="flex mb-20 mx-auto  flex-col lg:flex-row gap-3">
        <section class="lg:flex-1 mx-auto">
            <h2 class="text-2xl pb-4 font-medium">Nuestros medicos especialisados<br>pueden ayudarte en:</h2>
            <ul class="leading-relaxed bg-[#acf1bd] text-[#003449] p-4 rounded-lg text-center lg:text-left w-fit">
                <li>Diabetes Mellitus</li>
                <li>Trastornos de la Tiroides</li>
                <li>Trastornos de la Glándula Suprarrenal</li>
                <li>Trastornos del Sistema Reproductor</li>
                <li>Osteoporosis y Trastornos del Metabolismo Mineral:</li>
            </ul>
        </section>
        <picture class="lg:flex-1 max-w-xl min-w-96 mx-auto">
            <img src="/public/img/Servicios/endocrinologia/img02.jpg" class="lg:h-auto mx-auto rounded-tr-3xl rounded-bl-3xl" alt="">
        </picture>
    </main>
</Layout>