---
import CiteCard from "@/components/CiteCard.astro"
import Layout from "@/layouts/Layout.astro"
---

<Layout title="">
    <section class="flex mb-16 mx-auto lg:mx-14 gap-4 flex-col lg:flex-row">
        <img class="bg-[#e8fdff] w-96 lg:block hidden" src="/public/img/Servicios/Medicina-interna/img01.png" alt="" style="clip-path: ellipse(40% 50% at 50% 50%);">
        <div class="flex flex-col justify-between my-10">
            <h1 class="text-7xl font-black text-center lg:text-left mb-4">Medicina<br>Interna</h1>
            <p class="bg-[#003449] p-4 rounded-lg max-w-3xl mx-auto mb-4">La medicina interna es el punto de partida de todas las especialidades conocidas por los pacientes. Se preocupa de la atención integral del paciente y es el tronco de distintas subespecialidades encargadas de la prevención, diagnóstico y tratamiento de enfermedades del adulto.</p>
            <p class="block lg:hidden bg-[#b8d8db] p-4 rounded-lg max-w-2xl mx-auto text-[#003449]">El profesional esta capacitado para realizar el diagnóstico y tratamiento de diferentes patologías comunes de manera ambulatoria y derivar al especialista indicado cuando corresponda.</p>
        </div>
    </section>
    <main class="flex mb-20 mx-auto justify-between flex-col lg:flex-row gap-5">
        <section class="mx-auto">
            <h2 class=" text-2xl pb-4 font-medium">Nuestros medicos especialisados<br>pueden ayudarte en:</h2>
                <ul class="leading-relaxed bg-[#acf1bd] text-[#003449] p-4 rounded-lg text-center lg:text-left lg:w-fit">
                    <li>Consultas medicas</li>
                    <li>Realizar examenes medicos</li>
                    <li>Remitir a medicos especialistas</li>
                    <li>Leer resultados de Laboratorio</li>
                    <li>Tratamientos preventivos</li>
                </ul>
        </section>
        <section class="flex gap-4 flex-col md:flex-row mx-auto">
            <CiteCard img="/public/img/Servicios/Medicina-interna/img02.webp" name="Dra. Jessica Llacsahuanga" cite="Es un médico clínico cuya misión es atender, de forma integrada, todos los problemas de salud del paciente, guía al enfermo en su compleja trayectoria."/>
            <CiteCard img="/public/img/Servicios/Medicina-interna/img03.webp" name="Dra. Ma. Del Pilar Aguirre" cite="Es un médico clínico cuya misión es atender, de forma integrada, todos los problemas de salud del paciente, guía al enfermo en su compleja trayectoria."/>
        </section>
    </main>
</Layout>