---
import CiteCard from "@/components/CiteCard.astro"
import Layout from "@/layouts/Layout.astro"
---

<Layout title="">
    <h1 class="lg:text-7xl text-4xl font-black text-center mb-4 mt-8">Obstetricia</h1>
    <section class="mt-8 flex flex-col md:flex-row gap-8 justify-center mb-5">
        <picture>
            <img src="/public/img/Servicios/obstetricia/img01.webp" class="mx-auto max-h-96" alt="">
        </picture>
        <section class="flex flex-col gap-4 mb-8 justify-center mx-auto lg:mx-0">
            <p class="bg-[#003449] p-4 rounded-lg max-w-screen-sm">La obstetricia es una rama de la medicina que se especializa en el cuidado de las mujeres durante el embarazo, el parto y el período postparto. Este campo se centra en asegurar la salud y el bienestar tanto de la madre como del bebé en desarrollo.</p>
            <p class="bg-[#b8d8db] p-4 rounded-lg max-w-screen-sm text-[#003449]">Los obstetras son médicos especializados en obstetricia, y su entrenamiento incluye una amplia gama de conocimientos y habilidades para manejar todas las etapas del embarazo y el parto, así como cualquier complicación que pueda surgir. </p>
        </section>
    </section>
    <hr class="border-none text-transparent bg-gradient-to-r from-[#003449] h-1 mb-8 rounded-3xl"/>
    <main class="flex mb-20 mx-auto  flex-col lg:flex-row gap-3">
        <section class="lg:flex-1 mx-auto">
            <h2 class="text-2xl pb-4 font-medium">Nuestros medicos especialisados<br>pueden ayudarte en:</h2>
            <ul class="leading-relaxed bg-[#acf1bd] text-[#003449] p-4 rounded-lg text-center lg:text-left w-fit">
                <li>Control prenatal</li>
                <li>Educacion prenatal</li>
                <li>Atencion al parto</li>
                <li>Cuidado postnatal</li>
                <li>Lactancia y cuidado del recien nacido</li>
                <li>Detección de complicaciones postparto</li>
                <li>Intervenciones medicas profesionales</li>
            </ul>
        </section>
        <picture class="lg:flex-1 max-w-xl min-w-96 mx-auto">
            <img src="/public/img/Servicios/obstetricia/img02.webp" class="lg:h-auto mx-auto rounded-tr-3xl rounded-bl-3xl" alt="">
        </picture>
    </main>
</Layout>