---
import Layout from "@/layouts/Layout.astro"
---

<Layout title="">
    <h1 class="lg:text-7xl text-4xl font-black text-center mb-4 mt-8">Oftalmologia</h1>
    <section class="mt-8 flex flex-col gap-8 justify-center mb-5">
        <picture>
            <img src="/public/img/Servicios/oftalmologia/img01.png" class="mx-auto max-h-96" alt="">
        </picture>
        <section class="flex flex-col gap-4 mb-8 justify-center mx-auto">
            <p class="bg-[#003449] p-4 rounded-lg max-w-screen-sm">La oftalmología es una especialidad médica dedicada al diagnóstico, tratamiento y prevención de enfermedades y trastornos relacionados con el ojo y sus estructuras asociadas. Los oftalmólogos son médicos especializados en esta área y están capacitados para abordar una amplia gama de problemas visuales y oculares.</p>
        </section>
    </section>
    <hr class="border-none text-transparent bg-gradient-to-r from-[#003449] h-1 mb-8 rounded-3xl"/>
    <main class="flex mb-20 mx-auto  flex-col lg:flex-row gap-3">
        <section class="lg:flex-1 mx-auto">
            <h2 class="text-2xl pb-4 font-medium">Nuestros medicos especialisados<br>pueden ayudarte en:</h2>
            <ul class="leading-relaxed bg-[#acf1bd] text-[#003449] p-4 rounded-lg text-center lg:text-left w-fit">
                <li>Cirugía de Cataratas</li>
                <li>Cirugía Refractiva</li>
                <li>cirugías estéticas</li>
                <li>Diagnostican y tratan el glaucoma</li>
                <li>diagnóstico y tratamiento de enfermedades de la retina</li>
                <li>Tratan afecciones de la córnea y la superficie ocular</li>
            </ul>
        </section>
        <picture class="lg:flex-1 max-w-xl min-w-96 mx-auto">
            <img src="/public/img/Servicios/odontologia/img02.jpg" class="lg:h-auto mx-auto rounded-tr-3xl rounded-bl-3xl" alt="">
        </picture>
    </main>
</Layout>